{% comment %}
Pagination Component
Previous/Next page navigation
{% endcomment %}

<div class="pagination">
	{% assign current_page = pagination.pageNumber | plus: 1 %}
	{% if pagination.href.previous %}
		{% if current_page == 2 %}
			<a class="prev" href="/">< Previous</a>
		{% else %}
			<a class="prev" href="/page/{{ pagination.pageNumber }}/">< Previous</a>
		{% endif %}
	{% endif %}
	<span class="page-number">Page {{current_page}} of {{pagination.pages.size}}</span>
	{% if pagination.href.next %}
		{% assign next_page = current_page | plus: 1 %}
		<a class="next" href="/page/{{ next_page }}/">Next ></a>
	{% endif %}
</div>
