---
layout: default
title: Blogs
permalink: /blogs/
---

<div class="post-container">
    <!-- {% for post in site.posts %}
        {% if post.layout != "link" %}
            <div class="post-list">
                <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>
            </div>
        {% else %}
        {% endif %}
    {% endfor %} -->
    {% for post in site.posts %}
        {% if post.tags %}
            {% unless post.tags contains "link" %}
                <div class="post-list">
                    <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
                    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>
                </div>
            {% endunless %}
        {% else %}
        {% endif %}
    {% endfor %}
</div>