---
layout: default
---
<div class="post-container">
	{% for post in paginator.posts %}
        <div class="post-list">
            {% if post.tags contains "link" %}
                <a class="post-title" href="{{ post.url_to_redirect }}">{{ post.title }}</a>
            {% else %}
                <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>  
            {% endif %}          
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>
        </div>
    {% endfor %}
</div>
{% include pagination.html %}

<!-- ---
layout: default
---
{% assign include_tags_string = "" %}
{% assign exclude_tags_string = "idn" %}

{% assign include_tags = include_tags_string | split: "," | compact %}
{% assign exclude_tags = exclude_tags_string | split: "," | compact %}

<div class="post-container">
  {% for post in paginator.posts %}
    {% assign post_tags = post.tags | default: "" %}
    {% assign show_post = false %}

    {% if include_tags != empty %}
      {% comment %} Mode: INCLUDE ONLY, abaikan exclude_tags {% endcomment %}
      {% for tag in post_tags %}
        {% if include_tags contains tag %}
          {% assign show_post = true %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% comment %} Mode: EXCLUDE ONLY (karena include kosong) {% endcomment %}
      {% assign show_post = true %}
      {% for tag in post_tags %}
        {% if exclude_tags contains tag %}
          {% assign show_post = false %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if show_post %}
      <div class="post-list">
        {% if post.tags contains "link" %}
          <a class="post-title" href="{{ post.url_to_redirect }}">{{ post.title }}</a>
        {% else %}
          <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        {% endif %}
        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% include pagination.html %} -->

<!-- ---
layout: default
---
<div class="post-container">
	{% for post in paginator.posts %}
        <div class="post-list">
            <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>
        </div>
    {% endfor %}
</div>
{% include pagination.html %} -->
