	<!-- ========== App Scripts ========== -->
	<script src="assets/js/main.js" defer></script>
	<script src="assets/js/gallery.js" defer></script>
	<script src="assets/js/projects.js" defer></script>

	<!-- ========== App Scripts PJAX ========== -->
	<script src="assets/js/discord-lanyard-pjax.js" defer></script>
	<script src="assets/js/github-profile-pjax.js" defer></script>
	<script src="assets/js/song-pjax.js" defer></script>
	<script src="assets/js/images-pjax.js" defer></script>
	<script src="assets/js/info-page-pjax.js" defer></script>
	<script src="https://unpkg.com/swup@2.0.19/dist/swup.min.js" defer></script>
	<script src="assets/js/pjax.js" defer></script>

	<!-- ========== Modals & Components ========== -->
	{% include modals/image-modal.html %}
	{% include components/confirm-modal.html %}

	<!-- ========== Analytics ========== -->
	{% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{site.google_analytics}}');
    </script>
	{% endif %}

	<!-- ========== Cursor Effects ========== -->
	{% if site.app.cursor_splash.active %}
	<script src="/assets/js/cursor/splashCursor.js" defer></script>
	{% endif %}
</body>
</html>
