{% comment %}
Posts by Tag Component
Displays posts that have a specific tag
Usage: {% assign tag_name = page.tag %} {% include utilities/posts-by-tag.html %}
{% endcomment %}

<section class="posts">
	<div class="flex-row-between">
		<h1>Tag #{{ tag_name | default: tag }}</h1>
		<a href="{{ '/' | relative_url }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
	</div>
	<ul>
		{% for post in collections.posts %}
		{% if post.tags contains tag_name or post.tags contains tag %}
		<li>
			<a class="post" href="{{ post.url | relative_url }}">{{ post.title }}</a>
			<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</section>
