/* Combined Component Styles */

/* Import all component styles */
@import url('/assets/css/components/loader.css');
@import url('/assets/css/components/navbar.css');
@import url('/assets/css/components/project-gallery.css');
@import url('/assets/css/components/project-modal.css');
@import url('/assets/css/components/image-modal.css');
@import url('/assets/css/components/song.css');
@import url('/assets/css/components/post-styles.css');
@import url('/assets/css/components/repo-post-styles.css');
