/* Footer Styles */

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
    background: var(--bg-color);
    border: 1px dashed var(--border-color);
    font-size: 12px;
}
