{% comment %}
Navbar Component
Displays navigation links at top of page
{% endcomment %}

{% if page.hidden_navbar != true %}
<div style="display: flex; margin-bottom: 20px; height: 100%;">
  {% for item in site.app.navbar %}
    <a href="{{ item.url }}" style="margin-right: 20px;">{{ item.name }}</a>
  {% endfor %}
</div>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    document.addEventListener("keydown", function (event) {
      // Tekan L untuk buka popup
      if (!event.ctrlKey && event.key.toLowerCase() === "l") {
        const box = document.getElementById("linktreeBox");
        if (!box) return;
        event.preventDefault();
        location.hash = "linktree";
      }
    });
  });
</script>
{% endif %}
