{% include header.html %}
{% include components/page-loader.html %}

<div class="container about-layout">
	{% include components/about-nav-wrapper.html %}
	{% include components/mobile-menu.html %}

	<div class="about-content">
		{{ content }}
	</div>

	{% include components/footer.html %}
</div>

{% include footer.html %}

<script src="{{ '/assets/js/pages/about.js' | relative_url }}" defer></script>
{% if site.app.linktree.active %}
<script src="{{ '/assets/js/components/linktree.js' | relative_url }}" defer></script>
{% endif %}
