---
layout: post
---

<style>
    .button {
      display: inline-block;
      padding: 15px 30px;
      margin: 10px;
      font-size: 18px;
      font-weight: bold;
      color: white;
      text-decoration: none;
      border-radius: 8px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .demo {
      /* background: #000; */
      background: #24292e;
    }
    
    .source {
      background: #24292e;
    }

    .jt {
      /* background: #000; */
      background: #24292e;
      /* background: #ff9800; */
    }
    
    .button:hover {
      transform: scale(1.1);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    }

    .description {
      font-size: 1.1rem;
      font-style: italic;
      text-align: justify;
      color: #444;
      margin-top: 20px;
      padding: 10px 20px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
    }

    .description br {
      display: block;
      content: "";
      margin-bottom: 1em;
    }

    .repo_tags {
      text-align: left;
      font-size: 14px;
      font-weight: normal;
      margin-top: -20px;
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }

  .repo_tags .repo_tag {
    background: rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
  }

  .repo_tags .repo_tag::before {
    content: "#";
    margin-right: 2px;
    font-size: 16px;
  }

  .video-container {
    position: relative;
    width: 100%;
    max-width: 560px; /* Bisa diubah sesuai kebutuhan */
    aspect-ratio: 16 / 9; /* Menjaga rasio video */
    margin: auto;
  }

  .video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (max-width: 600px) {
    .button {
        padding: 10px 20px; /* Mengecilkan padding */
        font-size: 16px; /* Mengecilkan teks */
        margin: 5px; /* Kurangi margin antar tombol */
    }
  }

  .clickable-image {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer !important;
  }

  .clickable-image:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
</style>

{% if page.repo.preview contains ".png" or page.repo.preview contains ".jpg" or page.repo.preview contains ".jpeg" %}
{% include image_modal.html %}
<p align="center">  
  <img src="{{ page.repo.preview }}" alt="Preview" class="clickable-image">
</p>
<!-- <p align="center">  
    <img src="{{ page.repo.preview }}" alt="Preview">
</p> -->
{% elsif page.repo.preview contains "youtube.com/embed" %}
<div class="video-container">
  <iframe src="{{ page.repo.preview }}" title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe>
</div>
{% endif %}

<p align="center">
  {% if page.repo.demo %}
      <a href="{{ page.repo.demo }}" class="button demo">🚀 Demo</a>
  {% endif %}
  {% if page.repo.source %}
      <a href="{{ page.repo.source }}" class="button source">💻 Source Code</a>
  {% endif %}
  {% if page.repo.jt %}
      <a href="{{ page.repo.jt }}" class="button jt">🎨 Jekyll Theme</a>
  {% endif %}
</p>

{% if page.repo.desc %}
  <p class="description" align="center">{{ page.repo.desc }}</p>
{% endif %}

<!-- <pre>{{ page.repo | jsonify }}</pre> -->

{% if page.repo.tags %}
  <p class="repo_tags">
    {% for tag in page.repo.tags %}
      <span class="repo_tag">{{ tag }}</span>
    {% endfor %}
  </p>
{% endif %}